.header {
  width: 100%;
  height: 65px;
  background: tomato;
}
.header_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background: #010632;
}
.header_info_wrapper {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 100%;
  justify-content: space-between;
}
.header_info_wrapper_fundraising {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.header_info_wrapper_about {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.header_info_wrapper_logo {
  color: white;
  font-weight: 700;
  font-size: 48px;
}
.header_info_wrapper_donat {
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.Preview {
  display: flex;
  width: 100%;
  height: 711px;
  background: darkgreen;
}
.Preview_left {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
.Preview_left_img {
  width: 100%;
  height: 100%;
}
.Preview_centr {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
.Preview_centr_img {
  width: 100%;
  height: 100%;
}
.Preview_right {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
.Preview_right_img {
  width: 100%;
  height: 100%;
}

.main_help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 461px;
  background: #010632;
}
.main_help_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1164px;
  height: 366px;
}
.main_help_wrapper_text {
  width: 420px;
}
.main_help_wrapper_text_title {
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.main_help_wrapper_text_sub-title {
  padding-top: 10px;
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.main_help_wrapper_images {
  width: 665px;
  height: 364px;
  display: flex;
  justify-content: space-between;
}
.main_help_wrapper_images_one {
  width: 365px;
  height: 251px;
}
.main_help_wrapper_images_one_img {
  width: 365px;
  height: 251px;
}
.main_help_wrapper_images_two {
  position: relative;
  top: 159px;
  width: 265px;
  height: 203px;
}
.main_help_wrapper_images_two_img {
  width: 285px;
  height: 203px;
}
.main_about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 461px;
  background: #060D49;
}
.main_about_wrapper {
  display: flex;
  width: 1165px;
  height: 364px;
  justify-content: space-between;
  align-items: center;
}
.main_about_wrapper_img {
  display: flex;
  width: 665px;
  height: 364px;
  justify-content: space-between;
}
.main_about_wrapper_img_one {
  width: 365px;
  height: 251px;
}
.main_about_wrapper_img_one_png {
  width: 365px;
  height: 251px;
}
.main_about_wrapper_img_two {
  position: relative;
  top: 161px;
  width: 265px;
  height: 203px;
}
.main_about_wrapper_img_two_png {
  width: 265px;
  height: 203px;
}
.main_about_wrapper_text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 414px;
  height: 301px;
}
.main_about_wrapper_text_title {
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.main_about_wrapper_text_sub-title {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.main_Ukraine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 773px;
  background: #010632;
}
.main_Ukraine_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1165px;
  height: 708px;
}
.main_Ukraine_wrapper_text {
  width: 780px;
  height: auto;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: white;
}
.main_Ukraine_wrapper_imgs {
  display: flex;
  width: 100%;
  height: 549px;
  justify-content: space-between;
}
.main_Ukraine_wrapper_imgs_left-container {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  width: 765px;
  height: 549px;
}
.main_Ukraine_wrapper_imgs_left-container_group1 {
  display: flex;
  align-items: center;
  width: 764px;
  height: 264px;
  justify-content: space-between;
}
.main_Ukraine_wrapper_imgs_left-container_group1_right-container {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  width: 364px;
  height: 264px;
}
.main_Ukraine_wrapper_imgs_left-container_group2 {
  display: flex;
  justify-content: space-between;
  width: 765px;
  height: 264px;
}
.main_proects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 857px;
  background: rgb(6, 13, 73);
}
.main_proects_wrapper {
  width: 1165px;
  height: 621px;
}
.main_proects_wrapper_title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.main_proects_wrapper_container {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin-top: 65px;
  width: 100%;
  height: 487px;
}
.main_proects_wrapper_container_card {
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 487px;
  background: white;
  align-items: center;
  padding-top: 26px;
}
.main_proects_wrapper_container_card_title {
  font-weight: 700;
  font-size: 48px;
}
.main_proects_wrapper_container_card_sub-title {
  padding-top: 9px;
  font-weight: 400;
  font-size: 24px;
}
.main_proects_wrapper_container_card_sub-title2 {
  font-weight: 400;
  font-size: 24px;
}
.main_proects_wrapper_container_card_line {
  margin-top: 19px;
}
.main_proects_wrapper_container_card_button {
  width: 235px;
  height: 61px;
  border: none;
  background: #0057FF;
  border-radius: 15px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.main_proects_wrapper_title {
  margin-top: 0;
  font-weight: 700;
  font-size: 48px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 349px;
  background: #010632;
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1065.04px;
  height: 298px;
}
.footer_wrapper_logo {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.footer_wrapper_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrapper_content_politika-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 481.332px;
  height: 151px;
}
.footer_wrapper_content_politika-container_politika-title {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.footer_wrapper_content_politika-container_privacy {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.footer_wrapper_content_politika-container_processing {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.footer_wrapper_content_social-container {
  display: flex;
  -moz-column-gap: 34.09px;
       column-gap: 34.09px;
  width: 265.045px;
  height: 64px;
}
.footer_wrapper_C {
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
}

.style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65.04px;
  height: 64px;
  border-radius: 50%;
  background: yellow;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

@media screen and (max-width: 375px) {
  .header_info_wrapper_fundraising {
    display: none;
  }
  .header_info_wrapper_about {
    display: none;
  }
  .header_info_wrapper_logo {
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
  }
  .header_info_wrapper_donat {
    display: none;
  }
  .Preview {
    height: 412px;
  }
  .main_help_wrapper {
    display: block;
    width: 306px;
  }
  .main_help_wrapper_text {
    width: 295px;
  }
  .main_help_wrapper_text_title {
    font-weight: 700;
    font-size: 24px;
  }
  .main_help_wrapper_text_sub-title {
    display: none;
  }
  .main_help_wrapper_text_sub-title-mob {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
  .main_help_wrapper_images {
    margin-top: 10px;
    width: 301px;
    height: 263px;
  }
  .main_help_wrapper_images_one {
    width: 169px;
    height: 154px;
    flex-grow: 1;
  }
  .main_help_wrapper_images_one_img {
    width: 169px;
    height: 154px;
  }
  .main_help_wrapper_images_two {
    position: relative;
    top: 154px;
    left: -54px;
    width: 175px;
    height: 109px;
    flex-grow: 1;
  }
  .main_help_wrapper_images_two_img {
    width: 175px;
    height: 109px;
  }
  .main_about_wrapper {
    display: block;
    width: 305px;
    height: 332px;
  }
  .main_about_wrapper_img {
    width: 100%;
    height: 213px;
  }
  .main_about_wrapper_img_one {
    width: 181px;
    height: 124px;
  }
  .main_about_wrapper_img_one_png {
    width: 181px;
    height: 124px;
  }
  .main_about_wrapper_img_two {
    position: relative;
    top: 124px;
    width: 132px;
    height: 86px;
  }
  .main_about_wrapper_img_two_png {
    width: 132px;
    height: 86px;
  }
  .main_about_wrapper_text {
    position: absolute;
    top: 1178px;
    width: 374px;
  }
  .main_about_wrapper_text_title {
    width: 374px;
    font-weight: 700;
    font-size: 24px;
  }
  .main_about_wrapper_text_sub-title {
    width: 274px;
    font-weight: 400;
    font-size: 16px;
  }
  .main_Ukraine_wrapper_text {
    width: 317px;
    font-weight: 400;
    font-size: 16px;
  }
  .main_Ukraine_wrapper_imgs {
    display: flex;
    width: 304px;
    height: 374px;
  }
  .main_Ukraine_wrapper_imgs_left-container {
    width: 150px;
    flex-direction: row-reverse;
    justify-content: start;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group1 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 374px;
    row-gap: 8px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group1_left {
    width: 144px;
    height: 328px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group1_right-container {
    width: 150px;
    height: 128px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group1_right-container_top {
    display: none;
  }
  .main_Ukraine_wrapper_imgs_left-container_group1_right-container_down {
    width: 150px;
    height: 128px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group2 {
    width: 144px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group2_left {
    width: 144px;
    height: 154px;
  }
  .main_Ukraine_wrapper_imgs_left-container_group2_right {
    width: 138px;
    height: 207px;
  }
  .main_Ukraine_wrapper_imgs_long {
    display: none;
  }
  .main_proects {
    height: 1223px;
    align-items: normal;
  }
  .main_proects_wrapper_title {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
  }
  .main_proects_wrapper_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_proects_wrapper_container_card {
    width: 279px;
    height: 347px;
  }
  .main_proects_wrapper_container_card_img {
    width: 257px;
    height: 166px;
  }
  .main_proects_wrapper_container_card_title {
    font-weight: 700;
    font-size: 24px;
  }
  .main_proects_wrapper_container_card_sub-title {
    font-weight: 400;
    font-size: 16px;
  }
  .main_proects_wrapper_container_card_sub-title2 {
    font-weight: 400;
    font-size: 24px;
  }
  .main_proects_wrapper_container_card_button {
    width: 179px;
    height: 43px;
    font-weight: 400;
    font-size: 20px;
  }
  .footer_wrapper {
    width: 277px;
    height: 272px;
  }
  .footer_wrapper_logo {
    font-weight: 400;
    font-size: 24px;
  }
  .footer_wrapper_content {
    display: block;
    width: 374px;
  }
  .footer_wrapper_content_politika-container {
    height: 103px;
    width: 277px;
  }
  .footer_wrapper_content_politika-container_processing {
    font-weight: 400;
    font-size: 16px;
  }
  .footer_wrapper_content_politika-container_privacy {
    font-weight: 400;
    font-size: 16px;
  }
  .footer_wrapper_content_politika-container_politika-title {
    width: 374px;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_wrapper_content_social-container {
    margin-top: 48px;
    -moz-column-gap: 39px;
         column-gap: 39px;
    justify-content: center;
  }
  .footer_wrapper_content_social-container_instagram {
    width: 39px;
    height: 36px;
  }
  .footer_wrapper_content_social-container_instagram_img {
    width: 22.515px;
    height: 22.634px;
  }
  .footer_wrapper_content_social-container_facebook {
    width: 38.89px;
    height: 36.009px;
  }
  .footer_wrapper_content_social-container_facebook_img {
    width: 22.515px;
    height: 22.634px;
  }
  .footer_wrapper_content_social-container_twitter {
    width: 38.89px;
    height: 36.009px;
  }
  .footer_wrapper_content_social-container_twitter_img {
    width: 22.515px;
    height: 22.634px;
  }
  .footer_wrapper_C {
    font-weight: 400;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */